{% extends "itreporting/base.html" %}
{% block content %}
<div class="password-reset-section">
<div class="content-section">
    <div class="alert alert-success">
        <h4 class="alert-heading">Password Reset Successful!</h4>
        <p>Your password has been successfully reset. You can now log in with your new password.</p>
    </div>
    <div class="border-top pt-3">
        <a class="btn btn-outline-info" href="{% url 'login' %}">Login Now</a>
    </div>
</div>
</div>
{% endblock content %}

