{% load i18n %}{% autoescape off %}
Hello {{ user.get_full_name|default:user.username }},

You're receiving this email because you requested a password reset for your Student IT Services account.

Please click the following link to reset your password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.

If you didn't request a password reset, please ignore this email. Your password will remain unchanged.

Best regards,
Student IT Services Team
{% endautoescape %}

